@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #0b141a;
  font-family: sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #202c33;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow: hidden;
}

::selection {
  background: #25d366;
  color: white;
}